/* Put your CSS here */
html, body {
    margin: 20px;
}

body {
	padding-top: 20px;
}

h3.report-header {
	text-align: center;
}

span.right,
td.right {
	text-align: right;
}

.position-sign {
	margin-top: 60px;
}

.create-btn {
	margin-bottom: 20px;
}

#delete-dialog {
	display: none;
}

table.table .account-name,
table.table .amount,
table.table .date {
	width: 110px;
}

table.table .action,
table.table .category {
	width: 130px;
}